.main-container {
  width: 100%;
  min-height: 100vh;
  background: url("../../../assets/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  .search-field {
    width: 30%;
    margin: 50px auto;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 10px 30px;
  }

  .data-container {
    width: 80%;
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
  }
}
